@model AsesoriasUABC.ViewModels.ExcelViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section SubMenueOptions{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-done d-sm-inline-block">
            <a href="@Url.Action("Index","MateriasTbs")" class="nav-link"><i class="fas fa-arrow-alt-circle-left"></i> Regresar a la tabla </a>
        </li>
    </ul>
}
<h2>Agregar materia</h2>
<div class="card">

    <div class="card-body">
        @using (Html.BeginForm("Create", "MateriasTbs", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            
            @Html.TextBoxFor(m => m.file, new { type = "file" , @class = "custom-file-input" })

            <button id="submitButton" type="submit" class="btn btn-default">Submit</button>
            @Html.ValidationMessageFor(model => model.file)
        }
    </div>

</div>